<p class="mb-2">
  <%= post.title %> / <%= post.company.name %>

  <div class="text-gray-400 mb-2">
    Project - <%= post.project.name %>
  </div>

  <div class="text-gray-400 mb-4">
    User - <%= post.company_user.user.name %>
  </div>
</p>
